.footer {
    &__title {
        position: relative;
        margin-bottom: 40px;

        &::before {
            content: '';
            position: absolute;
            display: block;
            background-color: #000;
            height: 1px;
            width: 60px;
            top: 100%;
            left: 0;
            margin-top: 8px;
            // transform: translateY(-100%);
            // margin-bottom: 40px;
        }
    }
}