.footer {
    &__title {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            display: block;
            background-color: #eee;
            height: 1px;
            width: 50%;
            top: 100%;
            left: 0;
            margin-bottom: 4px;
        }
    }
}