@use '../globals'as *;
@use '../utilities'as *;

.hero {
    height: 100%;
    object-fit: cover;
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
}