@use '../globals'as *;
@use '../utilities'as *;

html,
body,
header {
    height: 100%;
}

.hero {
    height: 100%;
    // object-fit: cover;
    background: url('/images/hero.jpg') no-repeat center fixed;
    // background-size: cover;
}