@use '../globals'as *;
@use '../utilities'as *;

.hero {
    height: 100%;
    object-fit: cover;
    background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
}