.stunning {
    &__images {
        overflow: hidden;
        height: 100%;
        width: 100%;

        img {
            transition: transform 0.5s ease;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}